<manifest xmlns:android="http://schemas.android.com/apk/res/android"
		package="com.androidemu.gba"
		android:versionCode="6"
		android:versionName="1.3.2"
		android:installLocation="preferExternal">

	<uses-sdk android:minSdkVersion="3" android:targetSdkVersion="10"/>

	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.VIBRATE" />

	<application android:label="@string/app_label" android:hardwareAccelerated="true"
			android:icon="@drawable/app_icon" android:allowBackup="true">

		<activity android:name="com.androidemu.EmulatorActivity"
		    android:process=":emulator"
		    android:launchMode="singleTask"
		    android:configChanges="keyboard|screenSize|orientation">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<activity android:name="GamePreferences" />
		
		<!-- common components - will be omitted after manifest merging support -->
		<activity android:name="com.androidemu.FileChooser" />
		<service android:name="com.androidemu.EmulatorService" android:process=":emulator"/>
	</application>
</manifest>
